<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置spring线程池 -->
    <bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 线程组最小线程数，如果数目小于此则会创建新线程 -->
        <property name="corePoolSize" value="5"></property>

        <!-- 最大的线程个数-->
        <property name="maxPoolSize" value="15"></property>

        <!-- 队列最大长度，当线程数 >= corePoolSize 时存储的个数 -->
        <property name="queueCapacity" value="10"></property>

        <!-- 线程所允许的最大空间时间，超过即将 >corePoolSize 的结束进行销毁 -->
        <property name="keepAliveSeconds" value="30"></property>
    </bean>
</beans>