# .gitignore 文件要放在 所在项目的根目录下
#  支持 正则表达式  和 通配符 方式匹配


# IntelliJ project files
.idea
*.iml
out
logs
target

# demo1 过滤统一后缀名
# 过滤掉所有 以.goat为后缀名的文件 但是  2.goat 文件除外
*.goat
!2.goat


# demo2 忽略当前文件夹 下所有文件  包括子目录
src/main/java/demo2

# demo3 忽略当前文件夹 指定文件 123.cd  不包括子目录
/src/main/java/demo3/test.h
# 忽略当前文件夹 指定文件 123.cd  包括子目录
/src/main/java/demo3/**/123.cd


# demo4 忽略/src/main/java/demo4/ 下所有*.txt文件  但不包括子目录432.txt
/src/main/java/demo4/*.txt

# 按文件名 忽略整个项目中的文件  包括根目录及子目录
temp.java
