<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

    <settings>
        <!-- 驼峰命名法 eg: javabean中的属性 lastName  数据库表中的字段 last_name 则 last_name 会被映射为 lastName -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true" /> <!-- 二级缓存开关 -->
        <setting name="useGeneratedKeys" value="true" />
<!--        <setting name="defaultExecutorType" value="REUSE" />-->

        <!--当结果集中含有Null 值时是否执行映射对象的 setter或者 Map 对象的 put方法。此设置对于原始类型如int,boolean 等无效。-->
<!--        <setting name="callSettersOnNulls" value="true"/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>



</configuration>