<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/bower_components/Ionicons/css/ionicons.min.css}" rel="stylesheet"/>
<link th:href="@{/css/AdminLTE.min.css}" rel="stylesheet"/>
<link th:href="@{/plugins/iCheck/square/blue.css}" rel="stylesheet"/>
<!--皮肤-->
<link th:href="@{/css/skins/_all-skins.min.css}" rel="stylesheet"/>