<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="F://log" />
	<property name="pattern" value="%X{fn} %d %level %class [%thread] %m%n" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<root level="ALL">
		<appender-ref ref="console" leval="info" />
	</root>
</configuration>