<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>山羊来了</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<button type="button" class="btn btn-default" onclick="test1()">发送单个参数</button>
<button type="button" class="btn btn-primary" onclick="test2()">发送两个参数</button>
<button type="button" class="btn btn-success" onclick="test3()">成功</button>
<button type="button" class="btn btn-info" onclick="test4()">信息</button>
<button type="button" class="btn btn-warning" onclick="test5()">警告</button>
<button type="button" class="btn btn-danger" onclick="test6()">危险</button>
<br>



<!--sos 注意 js 引入位置 -->
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

<script type="text/javascript">


    function test1() {
        $.ajax({
            type:"post", dataType:"json", url: "/ajax/test1", // 请求本地 json 文件
            // contentType:"application/json", // 加上  后台接收为 null
            data: {"param": 123},
            success:(data) =>{ console.log(data)},
            error:(data)=>{ }
        });
    }

    function test2() {
        $.ajax({
            type:"post", dataType:"json", url: "/ajax/test2", // 请求本地 json 文件
            data: {"param1": 111,"param2": 222}, // sos 参数名称 param1  必须与后台形参对应上 否则接收不到！
            success:(data) =>{ console.log(data)},
            error:(data)=>{ }
        });
    }

</script>
