<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>山羊来了</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<h1>成功！111111111111</h1>
<!--th:text 将div里面的文本内容设置为  -->
<!--/*@thymesVar id="hello" type="String"*/-->
<div id="div01" class="myDiv" th:id="${hello}" th:class="${hello}" th:text="${hello}">这是显示欢迎信息</div>


<!-- 标准按钮 -->
<button type="button" class="btn btn-default">默认</button>

<!-- 提供额外的视觉效果，标识一组按钮中的原始动作 -->
<button type="button" class="btn btn-primary">原始</button>

<!-- 表示一个成功的或积极的动作 -->
<button type="button" class="btn btn-success">成功</button>

<!-- 信息警告消息的上下文按钮 -->
<button type="button" class="btn btn-info">信息</button>

<!-- 表示应谨慎采取的动作 -->
<button type="button" class="btn btn-warning">警告</button>

<!-- 表示一个危险的或潜在的负面动作 -->
<button type="button" class="btn btn-danger">危险</button>
<!-- 并不强调是一个按钮，看起来像一个链接，但同时保持按钮的行为 -->
<button type="button" class="btn btn-link">链接</button>

<div class="container">
    <div class="row" style="border: 1px solid rebeccapurple;">
        <div class="col-md-4">111</div>
        <div class="col-md-4">222</div>
    </div>
    <div class="row" style="border: 1px solid rebeccapurple;">
        <div class="col-md-4">111</div>
        <div class="col-md-4">222</div>
    </div>
</div>

<!--sos 注意 js 引入位置 -->
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>