<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>山羊来了</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/select2.css}" rel="stylesheet"/>
</head>
<body>

<button type="button" class="btn btn-default" onclick="getSelect()">选中值</button>
<button type="button" class="btn btn-primary" onclick="toggle()">开关</button>
<button type="button" class="btn btn-success" onclick="clear()">清空</button>
<button type="button" class="btn btn-info" onclick="get()">请求</button>
<button type="button" class="btn btn-warning">警告</button>
<button type="button" class="btn btn-danger">危险</button>
<br>

<div class="col-md-2">
    <select id="sel_menu1" multiple="multiple" class="form-control">
        <optgroup label="系统设置">
            <option value="1">用户管理</option>
            <option value="2">角色管理</option>
            <option value="3">部门管理</option>
            <option value="4">菜单管理</option>
        </optgroup>
        <optgroup label="订单管理">
            <option value="5">订单查询</option>
            <option value="6">订单导入</option>
            <option value="7">订单删除</option>
            <option value="8">订单撤销</option>
        </optgroup>
        <optgroup label="基础数据">
            <option value="9">基础数据维护</option>
        </optgroup>
    </select>
</div>

<div class="col-md-2">
    <select id="sel_menu2" multiple="multiple" class="form-control"> </select>
</div>

<div class="col-md-2">
    <select id="sel_menu3" multiple="multiple" class="form-control"> </select>
</div>

<div class="col-md-2">
    <select id="sel_menu4" multiple="multiple" class="form-control"> </select>
</div>

<!--sos 注意 js 引入位置 -->
<script th:src="@{/plugins/jquery-3.3.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/select2/select2.js}"></script>
</body>
</html>

<script type="text/javascript">

    // 请求后台
    let get = () => {
        let list2 =$("#sel_menu2").select2("data"); //多选
        let list3 =$("#sel_menu3").select2("data"); //多选

        $.ajax({
            type:"post", dataType:"json", url: "/ajax/test1", // 请求本地 json 文件
            contentType:"application/json",
            data: {"param": 123},
            success:(data) =>{ console.log(data)},
            error:(data)=>{ }
        });
    }


    // 获取选中
    let getSelect = () => {
        let reslist =$("#sel_menu2").select2("data"); //多选
        console.log(reslist)
        for ( let i = 0; i <reslist.length; i++)
            console.log(reslist[i].text + reslist[i].id)
    }

    let mark = true;
    function toggle(){ // 禁用 与 启动
        $("#sel_menu2").prop("disabled", mark = !mark);
    }


    /**  select2 加载方式一： html 直接写 */
    $("#sel_menu1").select2({
        tags: true,
        maximumSelectionLength: 3  //最多能够选择的个数
    });

    /**  select2 加载方式二： 动态加载写死数据 */
    let data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];
    $("#sel_menu2").select2({ data: data,placeholder:'请选择',allowClear:true  })

    /**  select2 加载方式三： 动态加载本地 json 数据  只请求一次 */
    let oneReq = [];
    $.ajax({
        type:"get", dataType:"json",
        url: "/json/select.json", // 请求本地 json 文件
        contentType:"application/json",
        success:(data) =>{ oneReq = data; load()},
        error:(data)=>{ }
    });

    function load() {
        $("#sel_menu3").select2({
            data: oneReq,
            placeholder:'请选择',//默认文字提示
            language: "zh-CN",//汉化
            allowClear: true//允许清空
        })
    }

    /**  select2 加载方式四： 动态请求后端数据 每次在select输入框中输入数据时 触发！ */
    $("#sel_menu4").select2({
        ajax: {
            type:'get', dataType: 'json',delay: 250,
            url: "/json/select.json", // 请求本地 json 文件
            contentType:"application/json",
            data: function (params) { //  data: 下拉框绑定的数据 相当于   data: {  q: 111,page: 222},
                console.log(params,1111111111)
                return {
                    q: params.term, // search term 请求参数 ， 请求框中输入的参数
                    page: params.page
                };
            },
            processResults: function (data, params) { // data 是请求返回值
                let itemList = [];//当数据对象不是{id:0,text:'ANTS'}这种形式的时候，可以使用类似此方法创建新的数组对象
                for ( let i = 0; i <data.length; i++)
                    itemList.push({id: data[i].id, text: data[i].name})
                return {
                    results: itemList,//itemList 是将返回值修饰成 id 和 text 的结果集  用于渲染 select
                };
            },
            cache: true
        },
        placeholder:'请选择',//默认文字提示
        language: "zh-CN",
        tags: true,//允许手动添加
        allowClear: true,//允许清空
        closeOnSelect: false, // select选中关闭下拉框
        multiple: true,  // 多选，默认 true
        escapeMarkup: function (markup) { return markup; }, // 自定义格式化防止xss注入
        minimumInputLength: 1,//最少输入多少个字符后开始查询
        maximumSelectionLength: 6, // 最多能够选择的个数
    });

/**
 1.q: params.term 查询参数（params.term表示输入框中内容，q发生到服务器的参数名；所以这里你可以添加自定义参数，如：stype:'person'）

 2.processResults中results: data返回数据（返回最终数据给results，如果我的数据在data.res下，则返回data.res。这个与服务器返回json有关）

 3.minimumInputLength 最小需要输入多少个字符才进行查询，与之相关的maximumSelectionLength表示最大输入限制。

 4.escapeMarkup字符转义处理

 5.templateResult返回结果回调function formatRepo(repo){return repo.text},这样就可以将返回结果的的text显示到下拉框里，当然你可以return repo.text+"1";等

 6.templateSelection选中项回调function formatRepoSelection(repo){return repo.text}

 7.关于返回的 json的格式：select2默认json格式为[{id:1,text:'text'},{id:2,text:'text'}]，新版严格要求这样的格式，当然你可以添加列，如：[{id:1,text:'text',name:'liu'}]


*/

</script><X></X>
