# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
target
/chapter9-1-2/*
/chapter6-2-1/src/main/resources/application.properties
/chapter2-6-4/src/main/resources/application.properties
/chapter9-6-1/src/main/resources/application.properties
/chapter2-7-7/src/main/resources/application.properties
aliyun-oss.properties
security.properties
banner.txt
bootstrap.yml
gen
/chapter2-6-5/src/test/java/com/goat/myOut.txt
