<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>山羊 后台管理系统 </title>
    <link th:href="@{/icon/favicon.ico}" rel="icon"/>

    <!--fuck css header -->
    <div data-th-include="common/header"></div>
</head>
<body class="main_body">
	<div class="layui-layout layui-layout-admin">

        <!--fuck 顶部导航-->
        <div data-th-include="common/layHeader"></div>

        <!--fuck 左侧菜单-->
        <div data-th-include="common/aside"></div>

		<!-- 右侧内容 -->
		<div class="layui-body layui-form">
			<div class="layui-tab mag0" lay-filter="bodyTab" id="top_tabs_box">

                <!--fuck pager-->
                <div data-th-include="common/pager"></div>

				<div class="layui-tab-content clildFrame">
					<div class="layui-tab-item layui-show">
                        <iframe th:src="@{/news}"></iframe>
					</div>
				</div>
			</div>
		</div>

        <!--fuck js footer  -->
        <div data-th-include="common/footer"></div>
	</div>

    <script th:src="@{/js/index.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>