<html xmlns:th="http://www.thymeleaf.org">
<body>

    <form>
        <!-- 数据表工具栏 -->
        <div class="toolbar" id="toolbar1">
            <div class="search-div">
                <label>员工编号：</label>
                <input type="text" class="easyui-textbox" />
                <label>用户名称：</label>
                <input type="text" class="easyui-textbox" />
                <a href="#" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
            </div>
            <div class="ctrl-div">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="addBtn" onclick="user_add()">新增</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="editBtn">编辑</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">批量删除</a>
            </div>
        </div>
    </form>

    <!--fuck  表格 -->
    <table id="userList"></table>

    <!--fuck  对话框 -->
    <div id="dlg"  class="easyui-dialog" title="新增/编辑"  style="width:420px;height:500px;padding:10px;"  cache="false"
         data-options="modal:true,closed:true,resizable:true,iconCls:'icon-save',href:'user/add'" ></div>

    <script type="text/javascript">
        function user_add(){  //打开弹出框
            $("#dlg").dialog("open");
        }

        $('#userList').datagrid({
                url:'/user/list', method: 'get',pagination: true,rowStyler:rowStyleFormatter,toolbar:'#toolbar1',
                striped:true,rownumbers:true,
                fit:true,// 想easyui占满容器要配置panel的fit属性
                columns:[ [ // fuck 这里的 两个 中括号 是必须要 分开的 否则 thymeleaf 加载 js 时会报错
                    {field:'userId',title:'编号',checkbox:true}, // 给表格添加复选框
                    {field:'username',title:'用户名',align:'center'},
                    {field:'deptId',title:'部门编号',align:'center'},
                    {field:'deptName',title:'部门名称',align:'center'},
                    {field:'email',title:'Email',align:'center'},
                    {field:'mobile',title:'手机',align:'center'},
                    {field:'status',title:'状态',align:'center'},
                    {field:'crateTime',title:'创建时间',align:'center'},
                    {field:'modifyTime',title:'修改时间',align:'center'},
                    {field:'lastLoginTime',title:'最后登录',align:'center'},
                    {field:'ssex',title:'性别',align:'center',formatter:ssexFormatter},
                    {field:'avatar',title:'头像',align:'center',styler:stylerFormatter},
                    {field:'description',title:'备注',align:'center',width:80,formatter:titleFormatter},
                    // {title:'操作',align:'center',formatter:operFormatter},
                ] ],
            });
            // 分别为当前列的值，当前整行的记录和当前行的索引
            // 性别 、状态 等 需要文字转换的列
            function ssexFormatter(value , record , index){
                if(value == 0){
                    return '<span style=color:red; >男</span>' ;
                } else if( value == 1){
                    return '<span style=color:green; >女</span>' ;
                }
            }

            // 单元格内容过长  鼠标悬停提示
            function titleFormatter(value , record , index){
                return '<span title="'+value+'">'+value+'</span>';
            }

            function operFormatter(value , record , rowIndex){
                return '<button onclick="getRowDataFromIndex('+rowIndex+');">编辑    </button>|<button onclick="getRowDataFromIndex('+rowIndex+');">删除 </button>';
            }

            /**
                 注意：rowStyler是datagrid的属性，而不是列的属性，如果放在列属性中，是不会起任何作用的。
                 使用rowStyler来实现对datagrid行样式进行修改 对列表中部门id 小于4 的行，背景显示为灰色，其余行的背景显示为黄色。
            */
            function rowStyleFormatter(value , record , index){
                if(record.deptId < 4){
                    return 'background:gray';
                }else{
                    return 'background:yellow';
                }
            }

            function stylerFormatter(value , record , index){
                if(value == "default.jpg"){
                    return 'color:blue';
                }else{
                    return 'color:red';
                }
            }

    </script>
</body>

<!--private Long userId;-->
<!--private String username;-->
<!--private String password;-->
<!--private Long deptId;-->
<!--private String deptName;-->
<!--private String email;-->
<!--private String mobile;-->
<!--private String status = STATUS_VALID;-->
<!--private Date crateTime;-->
<!--private Date modifyTime;-->
<!--private Date lastLoginTime;-->
<!--private String ssex;-->
<!--private String theme;-->
<!--private String avatar;-->
<!--private String description;-->
