
<body>

    <form >

    </form>

    <table id="userList"></table>

    <script >
            $('#userList').datagrid({
                url:'/user/list', method: 'get',pagination: true,
                columns:[ [ // fuck 这里的 两个 中括号 是必须要 分开的 否则 thymeleaf 加载 js 时会报错
                    {field:'userId',title:'编号',checkbox:true}, // 给表格添加复选框
                    {field:'username',title:'用户名',align:'center'},
                    {field:'deptId',title:'部门编号',align:'center'},
                    {field:'deptName',title:'部门名称',align:'center'},
                    {field:'email',title:'Email',align:'center'},
                    {field:'mobile',title:'手机',align:'center'},
                    {field:'status',title:'状态',align:'center'},
                    {field:'crateTime',title:'创建时间',align:'center'},
                    {field:'modifyTime',title:'修改时间',align:'center'},
                    {field:'lastLoginTime',title:'最后登录',align:'center'},
                    {field:'ssex',title:'性别',align:'center'},
                    {field:'avatar',title:'头像',align:'center'},
                    {field:'description',title:'备注',align:'center'},
                ] ],

            });

    </script>
</body>

<!--private Long userId;-->
<!--private String username;-->
<!--private String password;-->
<!--private Long deptId;-->
<!--private String deptName;-->
<!--private String email;-->
<!--private String mobile;-->
<!--private String status = STATUS_VALID;-->
<!--private Date crateTime;-->
<!--private Date modifyTime;-->
<!--private Date lastLoginTime;-->
<!--private String ssex;-->
<!--private String theme;-->
<!--private String avatar;-->
<!--private String description;-->
