<!--fuck 左侧菜单 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 顶部 -->
<div class="layui-header header">
    <div class="layui-main mag0">
        <a href="#" class="logo">111111111 2.0</a>
        <!-- 显示/隐藏菜单 -->
        <a href="javascript:;" class="seraph hideMenu icon-caidan"><i class="layui-icon" data-icon="&#xe705;">&#xe705;</i></a>
        <!-- 顶级菜单 -->
        <ul class="layui-nav topLevelMenus" pc>
            <li class="layui-nav-item" data-menu="seraphApi" pc>
                <a href="javascript:;"><i class="layui-icon" data-icon="&#xe705;">&#xe705;</i><cite>使用文档</cite></a>
            </li>
        </ul>
        <!-- 顶部右侧菜单 -->
        <ul class="layui-nav top_menu">

            <li class="layui-nav-item" id="userInfo">
                <a href="javascript:;"><img th:src="@{/images/userface4.jpg}" class="layui-nav-img userAvatar" width="35" height="35"><cite class="adminName">山羊来了</cite></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="page/user/userInfo.html"><i class="seraph icon-ziliao" data-icon="icon-ziliao"></i><cite>个人资料</cite></a></dd>
                    <dd><a href="javascript:;" data-url="page/user/changePwd.html"><i class="seraph icon-xiugai" data-icon="icon-xiugai"></i><cite>修改密码</cite></a></dd>
                    <dd><a href="javascript:;" class="showNotice"><i class="layui-icon">&#xe645;</i><cite>系统公告</cite><span class="layui-badge-dot"></span></a></dd>
                    <dd pc><a href="javascript:;" class="functionSetting"><i class="layui-icon">&#xe620;</i><cite>功能设定</cite><span class="layui-badge-dot"></span></a></dd>
                    <dd pc><a href="javascript:;" class="changeSkin"><i class="layui-icon">&#xe61b;</i><cite>更换皮肤</cite></a></dd>
                    <dd><a href="page/login/login.html" class="signOut"><i class="seraph icon-tuichu"></i><cite>退出</cite></a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>