<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>新增菜单</title>
        <div data-th-include="common/header"></div>
    </head>
    <body class="childrenBody">
        <form class="layui-form  ">


            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required="" lay-verType="tips" lay-verify="required" placeholder="请输入 菜单名称" autocomplete="off" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">菜单类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男">
                        <input type="radio" name="sex" value="女" title="女" checked>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">菜单地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required="" lay-verType="tips" lay-verify="required" placeholder="请输入 菜单地址" autocomplete="off" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">权限标识</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required="" lay-verType="tips" lay-verify="required" placeholder="请输入 权限标识" autocomplete="off" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">菜单图标</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required="" lay-verType="tips" lay-verify="required" placeholder="请选择 菜单图标" autocomplete="off" class="layui-input"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-input-block">
                        <ul id="myTree"></ul>
                    </div>
                </div>

                <hr/>
                <div class="layui-form-item" style="text-align: center;">
                    <button class="layui-btn" lay-submit="" lay-filter="save" url="/fsbus/DEMO1002">新增</button>
                    <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
                </div>
            </form>
        </form>

        <script th:src="@{/plugins/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
        <script th:src="@{/js/newsAdd.js}" type="text/javascript" charset="utf-8"></script>

        <script>

            layui.use(['tree', 'layer','jquery'], function(){
                var layer = layui.layer ;
                $ = layui.jquery;

                $.ajax({
                    type: "post",dataType: 'json',
                    url: '/menu/tree2',
                    success: function (d) {
                        console.log(d.data,111)
                        layui.tree({
                            elem: '#myTree' , //指定元素 树形结构 元素id
                            target: '_blank' , //是否新选项卡打开（比如节点返回href才有效）
                            nodes: d.data,
                            click: function(item){ //点击节点回调
                                layer.msg('当前节名称：'+ item.name + '<br>全部参数：'+ JSON.stringify(item));
                                console.log(item);
                            },
                            // response: {
                            //     id: 'menuId' //数据状态的字段名称，默认：code
                            //     ,name: 'menuName' //成功的状态码，默认：0
                            //     ,alias: 'perms' //状态信息的字段名称，默认：msg
                            //     ,children: 'menuId' //数据总数的字段名称，默认：count
                            //     // ,href: 'rows' //数据列表的字段名称，默认：data
                            //     // ,spread: 'rows' //数据列表的字段名称，默认：data
                            // }
                        })
                    }
                })
            });



        </script>
    </body>
</html>