<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="assets/vue.js"></script>
    <link rel="stylesheet" href="assets/boot-strap.css">
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-body form-inline">
                <label> ID:<input type="text" class="form-control" v-model="id"></label>
                <label>Name:<input type="text" class="form-control" v-model="name" @keyup.F2="add()" ></label>  <!--键盘修饰符，可以直接用键盘码 或是 单词 代替-->
                <label><input type="button" value="Add" class="btn btn-primary" @click="add"></label>
                <!--Vue中所有指令，在调用的时候都以 v- 开头--> <!--注意这边传入一个字符串，blue需要单引号的-->
                <label>Search keywords
                    <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color="'green'">
                </label>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dateFormat('')}}</td>
                    <td> <a href="" @click.prevent="del(item.id)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id='app2'>
        <h3 v-fontweight='900' v-fontsize="'15px'">
            {{dt | myDiyFilter('')}}
        </h3>
    </div>
    <script>
        //自定义全局 按键修饰符  将 键盘码 与 自定义名称 关联上！
        Vue.config.keyCodes.F2 = 113

        //全局过滤器 app1 和 app2 区域 都可以使用该 过滤器(即所有的vm示例 都是共享的) ，进行时间的格式化 P2 为默认参数值！
        Vue.filter('dateFormat', function(dateStr, pattern='yyyy-mm-dd'){
            return test(dateStr,pattern);
        })

        /** 使用Vue.directiive()全局自定义指令
        其中：参数1：指令的名称，在定义的时候，指令的名称前 面不需要加 v- 前缀， 但是在调用的时候必须加v-
              参数2：是一个对象，在这个对象上，有一些指令相关函数，这些函数可以在特定阶段，执行相关的操作
        */
        
        Vue.directive('focus', {
            //注意在每个函数中，P1 永远是el表示被绑定了指令的哪个元素，这个el是元素的js对象
            bind: function(el){//每当指令绑定到元素上的时候，会立即执行，只执行一次
                //在元素绑定了指令时候，还没有插入到DOM中去，这时候调用focus方法没有作用。因为这个元素只有在插入DOM之后才能获取焦点。
            },
            inserted: function(el){// 元素插入到DOM中的时候，会执行inserted函数，触发一次
                el.focus() // 让指定控件 获取焦点
            },
            updated(el) {//当VNode更新的时候，会执行updated，可能会触发多次
                
            },
        })

        /**
         样式只要通过指令绑定给了元素，不管这个元素有没有被插入到页面之中去，这个元素肯定有了一个内联的样式
         和样式有关的，一般可以在bind中执行
        */
        Vue.directive('color', {
            bind:function(el , binding){
                el.style.color = binding.value
            },
            inserted: function(el){ },
            updated: function(el){ }
        })


        new Vue({
                el: '#app',
                data: {
                    id: "",name: "", keywords: '',
                    list: [
                        { id: 1, name: "宝马", ctime: new Date() },
                        { id: 2, name: "奔驰", ctime: new Date() },
                    ]
                },
                methods: {
                    add() {
                        let car = { id: this.id, name: this.name, ctime: new Date() }
                        this.list.push(car)
                        this.id = this.name = ""; // 添加记录后  清空2个输入框的内容
                    },

                    search(keywords) {
                        let newList = this.list.filter(item => {
                            if (item.name.includes(keywords))  return item
                        })
                        return newList
                    }

                }
            }
        );

        let vm2 = new Vue({
            el: '#app2',
            data: {
                dt:  Date()
            },
            filters:{  // 自定义过滤器  过滤器 调用时 采用就近原则 ，如果 私有过滤器和全局过滤器 同名 那么优先调用 私有过滤器
                myDiyFilter: function(dateStr, pattern){
                    return test(dateStr,pattern);
                }
            },
            directives:{
                'fontweight': function(el, binding){
                    el.style.fontWeight=binding.value
                },
                //简写
                'fontsize': function(el, binding){
                    el.style.fontSize=parseInt(binding.value) + 'px' //注意这个function相当于把这个代码写进bind和update中去
                }
            }
        })

        function test(dateStr,pattern) {
            let dt = new Date(dateStr)
            let y = dt.getFullYear()
            let m = (dt.getMonth() + 1).toString().padStart(2,'0') // 月份从0开始需要+1   从左侧开始 使用0填充 2位
            let d = dt.getDate().toString().padStart(2,'0')
            if(pattern && pattern.toLowerCase() == 'yyyy-mm-dd'){
                return `${y} - ${m} - ${d}`
            }
            else{
                let hh = dt.getHours().toString().padStart(2,'0')
                let mm = dt.getMinutes().toString().padStart(2,'0')
                let ss = dt.getSeconds().toString().padStart(2,'0')
                return `${y} - ${m} - ${d} ${hh}:${mm}:${ss}`
            }
        }
    </script>
</body>

</html>

