<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="assets/vue.js"></script>
</head>
<body>
    <div id="app">

        <!--循环方式 1  普通数据-->
        <li v-for="item in arr1">
            {{ item }}
        </li>

        <!--循环方式 2  对象数组 -->
        <hr> <br>
        <li v-for="(item,i) in arr2">
          text属性： {{ item.text }} value属性 {{ item.value }} 索引： {{ i }}
        </li>



        <hr> <br>
        <ul class="box">
            <!--循环方式 3  带索引-->
            <li v-for='value,i in arr3'>值:{{value}}   索引:{{i}} </li> <hr/> <!--循环数组-->

            <!--循环方式 4  对象属性-->
            <li v-for='value,key,i in arr4'>值:{{value}} 键:{{key}}  索引:{{i}}</li>  <hr/> <!--json数组-->

            <!--循环方式 4  遍历数字  注意是：从1开始-->
            <li v-for="num in 5">这是第 {{ num }} 次循环 </li><hr/>
        </ul>
    </div>
</body>

<script>
    new Vue({
        el: '#app',// 指定挂载区域
        data:{ // data中的所有属性 在id为app的标签内中 都可以直接使用
            arr1: ['Foo','Bar'],
            arr2: [
                { text: '上海市', value: '20' },
                { text: '湖北省', value: '43' },
                { text: '河南省', value: '45' },
                { text: '北京市', value: '10' }
            ],
            arr3:[1,2,3,4,5,6],    //定义一个数组
            arr4:{a:'ok',b:"hello"},　　　　//定义一个对象
        }
    })
</script>
</html>