<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.goat.dao.UserMapper">-->
<mapper namespace="com.goat.dao.BookMapper">

    <!--返回 Map -->
    <select id="findBookPriceByIsbn" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM book WHERE isbn = #{id}
    </select>


</mapper>
