<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>山羊来了</title>
    <!--公共模块-->
    <div data-th-include="common/common"></div>


</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!--顶部导航-->
    <div data-th-include="common/header"></div>
    <!--左侧菜单-->
    <div data-th-include="common/aside"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1> 试试看 <small> 看看111吧 </small> </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">激活的</li>
            </ol>
        </section>

        <!--主页面-->
        <section class="content">
            用户列表
        </section>

    </div>

    <!--底部导航-->
    <div data-th-include="common/footer"></div>
</div>

</body>
</html>