<?xml version="1.0" encoding="UTF-8"?>


<mapper namespace="com.goat.tiny.mybatis.test.dao.UserMapper">

	<select id="getUser" resultType="com.goat.tiny.mybatis.test.bean.User">
		select * from users where id = #{id}
	</select>

	<select id="getAll" resultType="com.goat.tiny.mybatis.test.bean.User">
		select * from users
	</select>

	<update id="updateUser">
		update users set name = '张三2' where id = #{id}
	</update>

    <delete id="deleteById">
        delete from users where id = #{id}
    </delete>

</mapper>