<html xmlns:th="http://www.thymeleaf.org">
<body>

<form>
    <!-- 数据表工具栏 -->
    <div class="toolbar" id="toolbar3">
        <div class="search-div">
            <label>角色：</label>
            <input type="text" class="easyui-textbox" />
            <label>菜单名称：</label>
            <input type="text" class="easyui-textbox" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        </div>
    </div>
</form>

    <!--fuck  表格 -->
    <table id="roleList"></table>

    <!--fuck  对话框 -->
    <div id="role_dlg"  class="easyui-dialog" title="新增/编辑"  style="width:420px;height:500px;padding:10px;"  cache="false"
         data-options="modal:true,closed:true,resizable:true,iconCls:'icon-save',href:'role/add'" ></div>

    <script type="text/javascript">
        function role_add(){
            $("#role_dlg").dialog("open");
        }

        $('#roleList').datagrid({
                url:'/role/list', method: 'get',pagination: true,toolbar:'#toolbar3',
                striped:true,rownumbers:true, fit:true,
                columns:[ [
                    {field:'123',checkbox:true,}, // 给表格添加复选框
                    {field:'roleId',title:'编号',align:'center'},
                    {field:'roleName',title:'角色名称',align:'center'},
                    {field:'createTime',title:'创建时间',align:'center'},
                    {field:'modifyTime',title:'修改时间',align:'center'},
                    {field:'remark',title:'备注',align:'center'},
                    // {title:'操作',align:'center',formatter:operFormatter},
                ] ],
            toolbar: [{  text: "添加菜单",iconCls: 'icon-add',handler: add },'-',
                { text: "添加按钮",  iconCls: 'icon-add',handler: addBtn }, '-',
                { text: "修改",  iconCls: 'icon-edit',handler: modify }, '-',
                { text: "删除", iconCls: 'icon-remove',handler: remove}
            ],
            });
        function add() {
            $("#role_dlg").dialog("open");
        }

        function addBtn() {
        }
        function modify() {

        }
        function remove() {

        }
    </script>
</body>

