
<div class="easyui-panel"   style="width:100%;padding:30px 60px;">
    <form id="role_form" class="easyui-form" method="post" data-options="novalidate:true">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="roleName" style="width:100%" data-options="label:'角色名称：',required:true">
        </div>


        <div style="margin-bottom:20px">
            <input class="easyui-textbox" name="remark" style="width:100%;height:60px" data-options="label:'备注：',multiline:true">
        </div>
    </form>
    <div style="text-align:center;padding:5px 0">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">取消</a>
    </div>
</div>


<script >

    function submitForm(){
        $('#role_form').form('submit',{
            url:'/role/save', method: 'post',
            onSubmit:function(){             // do some check     return false to prevent submit;
                return $(this).form('enableValidation').form('validate');
            },
            success:function(data){
                console.log(data)
                console.log(data.code,11)
                if (data.code==0){
                    $("#role_dlg").dialog("close");
                } else {
                    $.messager.alert('警告','删除失败！');
                }

            },
        });

    }
    function clearForm(){
        $('#role_form').form('clear');
        $("#role_dlg").dialog("close");
    }
</script>
