<html xmlns:th="http://www.thymeleaf.org">
<body>

<form>
    <!-- 数据表工具栏 -->
    <div class="toolbar" id="toolbar3">
        <div class="search-div">
            <label>角色：</label>
            <input type="text" class="easyui-textbox" />
            <label>菜单名称：</label>
            <input type="text" class="easyui-textbox" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        </div>
        <div class="ctrl-div">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"  id="addBtn" onclick="add()">新增</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="remove()">删除</a>
        </div>
    </div>
</form>

    <!--fuck  表格 -->
    <table id="roleList" ></table>

    <!--fuck  新增 对话框 -->
    <div id="role_dlg"  class="easyui-dialog" title="新增角色"  style="width:420px;height:300px;padding:10px;"  cache="false"
         data-options="modal:true,closed:true,resizable:true,iconCls:'icon-save',href:'role/add'" ></div>

    <!--fuck  编辑 对话框 -->
    <div id="role_edit_dlg"  title="编辑角色"  style="width:420px;height:300px;padding:10px;" cache="false"></div>

<!--</div>-->

    <script type="text/javascript">

        var dataGrid = $('#roleList').datagrid({
            url:'/role/list', method: 'get',
            toolbar:'#toolbar3', // sos 每个页面的该属性 id 必须不能相同
            striped:true,rownumbers:true, fit:true,
            pagination: true,
            columns:[ [
                {field:'123',checkbox:true,}, // 给表格添加复选框
                {field:'roleId',title:'编号',align:'center'},
                {field:'roleName',title:'角色名称',align:'center'},
                {field:'createTime',title:'创建时间',align:'center'},
                {field:'modifyTime',title:'修改时间',align:'center'},
                {field:'remark',title:'备注',align:'center'},
                {field:'operate',title:'操作',align:'center',width:200,formatter:actions}, // sos 操作列 注意：必须要有 field属性 其值可以随便写 否则报错：Uncaught TypeError: Cannot read property 'width' of null
            ] ],
            // doit 妈的 这里不能使用这种工具栏 因为 一旦加上   分页栏就被顶到下面 看不见了。。。。
            // toolbar: [{  text: "添加",iconCls: 'icon-add',handler: add },'-',
            //     { text: "修改",  iconCls: 'icon-edit',handler: modify }, '-',
            //     { text: "删除", iconCls: 'icon-remove',handler: remove}
            // ],
            onLoadSuccess:function(data){
                $("a[name='opera']").linkbutton({text:'编辑',plain:true,iconCls:'icon-edit'});
                $("a[name='opera1']").linkbutton({text:'删除',plain:true,iconCls:'icon-remove'});
            }
        });
        function add() {
            $("#role_dlg").dialog("open");
        }
        // val指当前单元格的值,row,当前行对象,index当前行的索引 '{0}'
        function actions(val, row, index) {
            var str =  $.formatString('<a href="#" name="opera" class="easyui-linkbutton" onclick="modify(\'{0}\')"></a>', row.roleId);
            var str1 =  $.formatString('<a href="#" name="opera1" class="easyui-linkbutton" onclick="remove(\'{0}\')"></a>', row.roleId);
            return str + str1;
        }

        function modify(val) {
            $('#role_edit_dlg').dialog({
                href: 'role/edit/' + val,
                modal: true,iconCls:'icon-edit', closed: false,
            });
            // $.ajax({
            //     url:"/role/edit/" + val,
            //     type:"get", dataType:"json",
            //     success:function(result){
            //         console.log(result,1111);
            //     }
            // });
        }

        // 删除功能
        function remove(){
            var ids = [];
            var rows = $('#roleList').datagrid('getSelections');
            for(var i=0; i<rows.length; i++){
                ids.push(rows[i].roleId);
            }
            if (ids.length == 0){
                $.messager.alert('警告','请至少选择一条');
                return
            }

            $.ajax({
                url:"/role/deleteIds/" + ids,
                type:"DELETE", dataType:"json",
                contentType:"application/json",//设置请求参数类型为json字符串
                data:JSON.stringify(ids),//将json对象转换成json字符串发送
                success:function(result){
                    $('#roleList').datagrid('reload');//刷新
                }
            });
        }

        $.formatString = function(str) {
            for ( let i = 0; i < arguments.length - 1; i++) {
                str = str.replace("{" + i + "}", arguments[i + 1]);
            }
            return str;
        };

    </script>
</body>

