<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
</head>
<body>
<h2>查询用户信息</h2>
<!-- 使用th:object 搭配 *{} 可以省略对象名  -->
<!--/*@thymesVar id="user" type="String"*/-->
<h4>选择标量表达式</h4>
<form action="/" th:object="${user}" >
    <input type="hidden" name="userId"   th:value="*{id}" /><br>
    <input type="text"   name="username" th:value="*{username}" /><br>
    <input type="text"   name="password" th:value="*{password}" />
</form>
<br>
<h4>标准标量表达式</h4>
<form action="/" >
    <input type="text"   name="userId"   th:value="${user.id}" /><br>
    <input type="text"   name="username" th:value="${user.username}" /><br>
    <input type="text"   name="password" th:value="${user.password}" />
</form>

<br>
<h4>选择|标准标量表达式 混用</h4>
<form action="/" th:object="${user}" >
    <input type="text" name="userId"   th:value="*{id}" /><br>
    <input type="text"   name="username" th:value="${user.username}" /><br>
    <input type="text"   name="password" th:value="${user.password}" />
</form>
<br>




</body>
</html>