<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goat.doit.system.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.goat.doit.system.model.UserRole" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, user_id, role_id
  </sql>


    <!-- 批量插入-->
    <insert id="batchUserRole">
        insert into user_role(user_id,role_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>

    <!--删除 单个-->
    <delete id="deletes" parameterType="java.lang.Integer">
        delete from user_role where user_id = #{userId}
    </delete>

</mapper>