<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/vue.js"></script>
</head>
<body>

    <div id="app">
        <h1> 父组件： {{datamsgFromSon}}</h1>
        <!--父组件想子组件传递方法使用的是事件绑定机制: v-on 当我们自定义了一个事件属性之后， 子组件就能过通过某型方法，来调用传进去的这个方法了-->
        <com2 v-on:func="show"></com2>  <!-- show 代表传递函数地址   show() 代表 调用函数 并将返回值 传递-->
        <com2 @func="show"></com2> <!--简写方式-->

    </div>

    <template id='temp1'>
        <div>
            <h1>子组件</h1>
            <input type="button" @click="myclick" value="这个是子组件的按钮，点击它，触发父组件传过来的func方法 ">
        </div>
    </template>
    <script>

        let com2 = {   //定义了一个字面类型的组件模板对象
            template: '#temp1' ,
            methods: {
                myclick(){
                    this.$emit('func', this.sonmsg)  //触发 + 传参： 当点击子组件方法的时候，如何拿到父组件传递过来的func方法
                }
            },
            data() {
                return {
                    sonmsg: {name: 'aaa',age: 6 }
                }
            }
        }

        new Vue({
            el: '#app',
            data: { datamsgFromSon: null },
            methods: {
                show(data){
                    console.log('调用了父组件身上的show方法'+data)
                    this.datamsgFromSon = data
                },
            },
            components:{ com2 }
        })




    </script>
</body>
</html>