<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../assets/vue.js"></script>
</head>
<body>
    <div id="app">
        <!--1 我们要监听到文本框数据的改变， 这样才知道什么时候去拼接出一个fullName-->
        <!--2 如何监听到文本框数据的改变 keyup 事件-->
        <input type="text" v-model="firstName" @keyup='getFullName'> +
        <input type="text" v-model="lastName"  @keyup='getFullName'> =
        <input type="text"  v-model="fullName">
        
    </div>
    <script>
         new Vue({
            el: '#app',
            data: {  firstName: '',lastName: '', fullName: ' '},

            methods: {
                getFullName(){
                    this.fullName = this.firstName + ' ' +  this.lastName
                },
            },
        })
    </script>
</body>
</html>