<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>山羊来了</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>
<body>

<a href="interactive/a">a标签跳controller</a>

<button type="button" class="btn btn-primary" onclick="test1()">字符串  传参</button>
<button type="button" class="btn btn-primary" onclick="test('string1')">字符串1  传参</button>
<button type="button" class="btn btn-primary" onclick="test('string2')">字符串2  传参</button>
<button type="button" class="btn btn-primary" onclick="test('string3')">字符串3  传参</button>
<button type="button" class="btn btn-success" onclick="test2()">数组 传参</button>
<button type="button" class="btn btn-info" onclick="test4()">发送List</button>
<button type="button" class="btn btn-warning" onclick="test5()">警告</button>
<button type="button" class="btn btn-danger" onclick="test6()">危险</button>
<br>


</body>
</html>

<script type="text/javascript">


    test1 = ()=> {
        let codes = "123,222,333";
        $.ajax({
            type: "post",url:  "/interactive/string",
            data: {  "mark":codes, },
            dataType: "json", async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }


    test = (url)=> {
        $.ajax({
            type: "get",url:  "/interactive/" + url,
            data: {  username:"goat","password":"123", },
            dataType: "json", async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }


    test2 = ()=> {
        let codes = [1111,2222,3333];
        $.ajax({
            type: "post",url: "interactive/array",
            data: {  "codes":codes, },
            dataType: "json",async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }



</script>
