<html xmlns:th="http://www.thymeleaf.org">

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">xxx管理</a></li>
        <li class="active">xxx管理</li>
    </ol>
</section>

<section class="content">
<button type="button" class="btn btn-primary" onclick="test1()">字符串  传参</button>
<button type="button" class="btn btn-primary" onclick="test('string1')">字符串1  传参</button>
<button type="button" class="btn btn-primary" onclick="test('string2')">字符串2  传参</button>
<button type="button" class="btn btn-primary" onclick="test('string3')">字符串3  传参</button>
<button type="button" class="btn btn-success" onclick="test2()">数组 传参</button>
<button type="button" class="btn btn-success" onclick="test22()">数组2 传参</button>
<button type="button" class="btn btn-success" onclick="test3()">Map 传参</button>
<button type="button" class="btn btn-info" onclick="xxxMapping('get')">GetMapping</button>
<button type="button" class="btn btn-warning" onclick="xxxMapping('post')">PostMapping</button>
<button type="button" class="btn btn-danger" onclick="xxxMapping('delete')">DeleteMapping</button>
<button type="button" class="btn btn-danger" onclick="xxxMapping('put')">PutMapping</button>
<br>


</section>

<script type="text/javascript">

    xxxMapping = (type)=> {
        $.ajax({
            type: type,url:  "/interactive/receive/123" ,
            dataType: "json", async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }

    test = (url)=> {
        $.ajax({
            type: "get",url:  "/interactive/receive/" + url,
            data: {  username:"goat","password":"123", },
            dataType: "json", async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }

    test1 = ()=> {
        let codes = "123,222,333";
        $.ajax({
            type: "post",url:  "/interactive/receive/string",
            data: {  "mark":codes, },
            dataType: "json", async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }

    test2 = ()=> {
        let codes = [1111,2222,3333];
        $.ajax({
            type: "post",url: "interactive/receive/array",
            data: { "codes":codes, },
            dataType: "json",async: false,
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }

    test22 = ()=> {
        let strList = new Array();
        strList.push("field1");
        strList.push("field2");
        $.ajax({
            type: "post",url: "interactive/receive/array2",
            data:{ codes : strList},
            dataType:"json",
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }


    test3 = ()=> {
        $.ajax({
            type: "post",url: "interactive/receive/map",
            data:{field1:"field1",field2:1},
            dataType:"json",
            success:(data) =>{ console.log(data,'success') },
            error:(err)=>{ console.log(err,'error') }
        });
    }


</script>
