
<html xmlns:th="http://www.thymeleaf.org">
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">xxx管理</a></li>
        <li class="active">xxx管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="jax-box">
        <form id="formSearch" class="form-horizontal form-search">
            <div class="form-group">
                <div class="col-md-4 col-sm-6">
                    <label class="control-label  col-xs-4" for="username">用户名:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>

                <!--下拉框 动态 加载-->
                <div class="col-md-4">
                    <label for="prov" class="col-sm-2 control-label">省份:</label>
                    <div class="col-md-4">
                        <select name="prov" id="prov" class="form-control"  placeholder="请选择省份">
                            <option th:each="foo,userStat:${provList}" th:value="${foo.id}" th:text="${foo.text}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label class="control-label  col-xs-4" for="phone">电话:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="phone">
                    </div>
                </div>
                    <div class="col-md-1 col-sm-6 " style="text-align:left;">
                        <button type="button" id="btn_query" class="btn btn-info" onclick="test()">查询</button>
                    </div>
            </div>
        </form>
    </div>
    <div class="jax-box jax-box-table">
        <div id="toolbar" class="btn-group">
            <button type="button" class="btn btn-primary" onclick="test2()">清空下拉框</button>
            <button type="button" class="btn btn-success" onclick="test3()">获取选中值</button>
            <button type="button" class="btn btn-info" onclick="test4()">获取选中文本</button>
            <button type="button" class="btn btn-warning" onclick="test5()">获取选中索引</button>
            <button type="button" class="btn btn-danger" onclick="test0()">播放mp3</button>
        </div>



    </div>

</section>



<script>

    test2 = () => {
        $("#prov").empty() //  清空下拉框
    }

    test3 = () => {
       // alert( $("#prov").val())//  ok
       alert( $('#prov option:selected').val())//  获取选中值
    }

    test4 = () => {
        // alert( $("#prov").text())//  error
        alert( $('#prov option:selected').text())//  获取选中文本
    }

    test5 = () => {
        alert($("#prov").get(0).selectedIndex); // 索引
    }


</script>





