<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>用户中心</title>
    <div data-th-include="common/header"></div>
</head>
<body class="childrenBody">
<form class="layui-form">

    <form class="layui-form layui-form-pane" action="">
        <fieldset class="layui-elem-field">
            <legend>查询条件</legend>
            <div class="layui-field-box">
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">短输入框</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">短输入框</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">短输入框</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item" align="center">
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal addNews_btn">查询</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal addNews_btn">添加文章</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>



	<table id="userList" lay-filter="userList"></table>

	<!--操作-->
	<script type="text/html" id="userListBar">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="usable">已启用</a>
		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</script>
</form>
<script th:src="@{/plugins/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/userList.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>